<% layout('admin/layout.html') %>

<div class="mod-article-post">
    <div class="form-group clearfix">
        <label class="title" for="title">标题 : </label>
        <input class="title" name="title" id="title" type="text" placeholder="请输入标题" required>
    </div>
    <div class="form-group clearfix">
        <label for="type">文章类型 : </label>
        <select name="type" id="type">
            <option value="1" selected="selected">新闻列表</option>
            <option value="2">banner图</option>
            <option value="3">轮播图</option>
        </select>
    </div>
    <a href="javascript:" class="submit" onclick="post();">提交</a>
</div>
<div id="temp" style="display: none;"></div>
<!-- 加载编辑器的容器 -->
<script id="container" name="content" type="text/plain"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/lib/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/lib/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container', {
        autoHeightEnabled: false,
        initialFrameHeight: 560
    });
    function post() {
        var txt = ue.getPlainTxt(), img = '', type = $('#type').val(), title = $('#title').val();
        console.log(txt);
        //文章内容或标题
        if ($.trim(txt) == '' || $.trim(title) == '') {
            alert('文章内容或标题不能为空！');
            return false;
        }
        //轮播图头图
        $('#temp').html(txt);
        $('#temp img').each(function () {
            img = $(this).attr("src");
            return false;
        });
        if (img == '' && type != 1) {
            alert('轮播图或banner图需文章内有图片！');
            return false;
        }
        //提交
        $.post('/article/add', {title: title, type: type, content: txt,headimg:img}, function (res) {
            alert(res.msg);
            window.location.reload();
        })
    }

</script>