<% layout('admin/layout.html') %>

<div class="mod-article-post">
    <div class="form-group clearfix">
        <label class="title" for="title">标题 : </label>
        <input class="title" name="title" id="title" type="text" placeholder="请输入标题"
        <%if(article&&article.type==5){%>disabled<%}%> value="<%if(article){%><%=article.title%><%}%>" required>
    </div>
    <div class="form-group clearfix">
        <label for="type">文章类型 : </label>
        <%if(article){%>
        <%if(article.type==5){%>
        <select name="type" id="type" disabled>
            <option value="5" selected="selected">二级栏目页面</option>
        </select>
        <%}else{%>
        <select name="type" id="type">
            <option value="1"
            <%if(article.type==1){%>selected="selected"<%}%> >新闻列表</option>
            <option value="2"
            <%if(article.type==2){%>selected="selected"<%}%> >东娱作品</option>
            <option value="3"
            <%if(article.type==3){%>selected="selected"<%}%> >首页头图</option>
            <option value="4"
            <%if(article.type==4){%>selected="selected"<%}%> >视频轮播</option>
        </select>
        <%}%>
        <%}else{%>
        <select name="type" id="type">
            <option value="1" selected="selected">新闻列表</option>
            <option value="2">东娱作品</option>
            <option value="3">首页头图</option>
            <option value="4">视频轮播</option>
            <%if(user&&user.isadmin){%>
            <option value="5">二级栏目页面</option>
            <%}%>
        </select>
        <%}%>
    </div>
    <div class="form-group clearfix">
        <label for="isTop">文章置顶 : </label>
        <input class="isTop" name="isTop" id="isTop" type="checkbox" <%if(article&&article.is_top){%>checked<%}%>>
    </div>
    <a href="javascript:" class="submit" onclick="post();"><i class="fa fa-check-square-o"></i> 提交</a>
</div>
<div id="temp" style="display: none;"></div>
<!-- 加载编辑器的容器 -->
<script id="container" name="content" type="text/plain"><%if(article){%><%-article.content%><%}%></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/lib/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/lib/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var _id = "<%if(article){%><%=article._id%><%}%>";

    var ue = UE.getEditor('container', {
        autoHeightEnabled: false,
        initialFrameHeight: 540
    });
    function post() {
        var txt = ue.getContent(), img = '', video = '', type = $('#type').val(), title = $('#title').val(),is_top=$('#isTop').is(':checked');
        //文章内容或标题
        if ($.trim(txt) == '' || $.trim(title) == '') {
            alert('文章内容或标题不能为空！');
            return false;
        }
        //轮播图头图
        $('#temp').html(txt);
        $('#temp img').each(function () {
            img = $(this).attr("src");
            return false;
        });
        // 视频地址
        if (type == 4) {
            $('#temp embed,#temp video').each(function () {
                $(this).attr({'width':'500','height':'280'});
                video = this.outerHTML;
                return false;
            });
            if (video == '') {
                alert('视频轮播未检测到视频，请重新编辑文章！');
                return false;
            }
        }
        if (img == '' && (type == 2 || type == 3)) {
            alert('首页头图、东娱作品需文章内有图片！');
            return false;
        }
        //提交
        var _url = _id ? '/article/editor/' + _id : '/article/add';
        $.post(_url, {title: title, type: type, content: txt, headimg: img, video: video,is_top:is_top}, function (res) {
            alert(res.msg);
            window.location.reload();
        })
    }

</script>