<% layout('admin/layout.html') %>

<div class="mod-article-post">
    <div class="form-group clearfix">
        <label class="title" for="title">标题 : </label>
        <input class="title" name="title" id="title" type="text" placeholder="请输入标题"
               value="<%if(article){%><%=article.title%><%}%>" required>
    </div>
    <div class="form-group clearfix">
        <label class="title" for="description">简介 : </label>
        <textarea class="title" name="description" id="description" type="text" placeholder="请输入简介"><%if(article){%><%=article.description%><%}%></textarea>
    </div>
    <div class="layui-form-item form-group clearfix">
        <label class="layui-form-label">所属栏目 : </label>
        <div class="layui-input-inline">
            <select name="quiz" id="column_type">
                <option value="0">---选择栏目---</option>
                <optgroup label="走进央体">
                    <option value="11"
                    <%if(article&&article.column_type==11){%>selected<%}%>>公司简介</option>
                </optgroup>
                <optgroup label="央体新闻">
                    <option value="21"
                    <%if(article&&article.column_type==21){%>selected<%}%>>公司新闻</option>
                </optgroup>
                <optgroup label="业务板块">
                    <option value="31"
                    <%if(article&&article.column_type==31){%>selected<%}%>>体育营销</option>
                    <option value="32"
                    <%if(article&&article.column_type==32){%>selected<%}%>>体育经纪</option>
                    <option value="33"
                    <%if(article&&article.column_type==33){%>selected<%}%>>体育培训</option>
                    <option value="33"
                    <%if(article&&article.column_type==34){%>selected<%}%>>体育投资</option>
                </optgroup>
                <optgroup label="联系我们">
                    <option value="41"
                    <%if(article&&article.column_type==41){%>selected<%}%>>联系方式</option>
                    <option value="42"
                    <%if(article&&article.column_type==42){%>selected<%}%>>人才招聘</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-group clearfix">
        <label for="type">投放位置 : </label>
        <%if(article){%>
        <%if(article.type==5){%>
        <select name="type" id="type" disabled>
            <option value="5" selected="selected">二级栏目页面</option>
        </select>
        <%}else{%>
        <select name="type" id="type">
            <option value="0"
            <%if(article.type==0){%>selected="selected"<%}%> >---选择模块---</option>
            <option value="1"
            <%if(article.type==1){%>selected="selected"<%}%> >新闻动态</option>
            <option value="3"
            <%if(article.type==3){%>selected="selected"<%}%> >首页头图</option>
            <option value="4"
            <%if(article.type==4){%>selected="selected"<%}%> >视频轮播</option>
        </select>
        <%}%>
        <%}else{%>
        <select name="type" id="type">
            <option value="0" selected="selected">---选择模块---</option>
            <option value="1">新闻动态</option>
            <option value="3">首页头图</option>
            <option value="4">其他</option>
        </select>
        <%}%>
    </div>
    <div class="form-group clearfix">
        <label for="isTop">文章置顶 : </label>
        <input class="isTop" name="isTop" id="isTop" type="checkbox" <%if(article&&article.is_top){%>checked<%}%>>
    </div>
    <a href="javascript:" class="submit" onclick="post();"><i class="fa fa-check-square-o"></i> 提交</a>
</div>
<div id="temp" style="display: none;"></div>
<!-- 加载编辑器的容器 -->
<script id="container" name="content" type="text/plain"><%if(article){%><%-article.content%><%}%></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/lib/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/lib/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var _id = "<%if(article){%><%=article._id%><%}%>";

    var ue = UE.getEditor('container', {
        autoHeightEnabled: false,
        initialFrameHeight: 690
    });
    function post() {
        var txt = ue.getContent(), img = '', video = '',
            description = $('#description').val(),
            type = $('#type').val(),
            column_type = $('#column_type').val(), title = $('#title').val(), is_top = $('#isTop').is(':checked');
        //文章内容或标题
        if ($.trim(txt) == '' || $.trim(title) == '' || $.trim(description) == '') {
            alert('文章内容或标题描述不能为空！');
            return false;
        }

        if (column_type == 0) {
            alert('请选择栏目！');
            return false;
        }
        //轮播图头图
        $('#temp').html(txt);
        $('#temp img').each(function () {
            img = $(this).attr("src");
            return false;
        });
        if (img == '') {
            alert('文章内需有图片！');
            return false;
        }
        //提交
        var _url = _id ? '/article/editor/' + _id : '/article/add';
        $.post(_url, {
            title: title,
            column_type: column_type,
            type: type,
            content: txt,
            description: description,
            headimg: img,
            video: video,
            is_top: is_top
        }, function (res) {
            alert(res.msg);
            window.location.reload();
        })
    }

</script>