<!DOCTYPE html>
<html>
<head>
    <title>体育梦工厂 | 后台管理</title>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/css.css'/>
    <script src="/lib/jquery.min.js"></script>
</head>
<body>

<% include ../header.html%>

<div class="wrapper mt20">
    <div class="frm-side frm-side2">
        <div class="mod-side-nav">
            <div class="mod-hd"><h2 class="tit"><i class="icon-dun"></i>后台管理中心</h2></div>
            <div class="mod-bd">
                <ul class="side-nav-list">
                    <li class="cur"><h3 class="tit">文章编辑 <b></b></h3>
                        <ul class="sub-nav-list">
                            <li><a class="<%if(type=='article_editor'){%>cur<%}%>" href="/admin/editor">新建文章</a></li>
                        </ul>
                    </li>
                    <li><h3 class="tit">走进央体 <b></b></h3>
                        <ul class="sub-nav-list">
                            <li><a class="<%if(type==11){%>cur<%}%>"
                                   href="/admin/article/column?type=11">公司简介</a></li>
                            <li><a class="<%if(type==12){%>cur<%}%>"
                                   href="/admin/article/column?type=12">核心优势</a></li>
                            <li><a class="<%if(type==13){%>cur<%}%>"
                                   href="/admin/article/column?type=13">创始团队</a></li>
                            <li><a class="<%if(type==14){%>cur<%}%>"
                                   href="/admin/article/column?type=14">公司愿景</a></li>
                        </ul>
                    </li>
                    <li><h3 class="tit">央体新闻 <b></b></h3>
                        <ul class="sub-nav-list">
                            <li><a class="<%if(type==21){%>cur<%}%>" href="/admin/article/column?type=21">公司新闻</a></li>
                        </ul>
                    </li>
                    <li><h3 class="tit">业务板块 <b></b></h3>
                        <ul class="sub-nav-list">
                            <li><a class="<%if(type==31){%>cur<%}%>" href="/admin/article/column?type=31">体育营销</a></li>
                            <li><a class="<%if(type==32){%>cur<%}%>" href="/admin/article/column?type=32">体育经纪</a></li>
                            <li><a class="<%if(type==32){%>cur<%}%>" href="/admin/article/column?type=33">体育培训</a></li>
                            <li><a class="<%if(type==32){%>cur<%}%>" href="/admin/article/column?type=34">体育投资</a></li>
                            </li>
                        </ul>
                    </li>
                    <li><h3 class="tit">案例展示 <b></b></h3>
                        <ul class="sub-nav-list">
                            <li><a class="<%if(type==41){%>cur<%}%>" href="/admin/article/column?type=41">案例展示</a>
                            </li>
                        </ul>
                    </li>
                    <li><h3 class="tit">联系我们 <b></b></h3>
                        <ul class="sub-nav-list">
                            <li><a class="<%if(type==51){%>cur<%}%>" href="/admin/article/column?type=51">联系方式</a>
                            </li>
                            <li><a class="<%if(type==52){%>cur<%}%>" href="/admin/article/column?type=52">人才招聘</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="frm-main frm-main2" style="height: 928px;">
        <%-body %>
    </div>
</div>
<script>
    //    $('.side-nav-list .tit').on('click',function () {
    //        $(this).parent().addClass('cur').siblings().removeClass('cur');
    //    });
</script>
</body>
</html>
