<!DOCTYPE html>
<html>
<head>
    <title>东娱传媒 | 后台管理</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <script src="/lib/jquery.min.js"></script>
</head>
<body>
<div class="header header-active por">
    <% include ../header.html%>
</div>
<div class="wrapper mt20">
    <div class="frm-side">
        <div class="mod-side-nav">
            <div class="mod-hd"><h2 class="tit"><i class="icon-dun"></i>后台管理中心</h2></div>
            <div class="mod-bd">
                <ul class="side-nav-list">
                    <li><h3 class="tit">文章管理 <b></b></h3>
                        <ul class="sub-nav-list" style="display: block;">
                            <li><a class="<%if(cur=='article_list'){%>cur<%}%>" href="/admin/article/list">文章列表</a></li>
                        </ul>
                    </li>
                    <li><h3 class="tit">文章编辑 <b></b></h3>
                        <ul class="sub-nav-list" style="display: block;">
                            <li><a class="<%if(cur=='editor'){%>cur<%}%>" href="/admin/editor">创建文章</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="frm-main">
        <%-body %>
    </div>
</div>
</body>
</html>
