@charset "utf-8";
/* CSS Document
Use for:	重设浏览器默认样式
Version:	1.0
Author:		tagee
*/

/* CSS reset */
html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*内外边距通常让各个浏览器样式的表现位置不同*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
    font: 500 14px/1.8 'microsoft yahei', 'simsun', 'Hiragino Sans GB', sans-serif;
}

input, select, img {
    vertical-align: middle
}

input, select {
    outline: none
}

input, select, textarea {
    font-size: 100%;
}

ul, ol {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
    border: 0;
    font-variant: normal;
}

/* 去除默认边框 */
fieldset, img {
    border: 0;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/*重排左对齐*/
caption, th {
    text-align: left;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}

/*清除浮动*/
.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl, .fr {
    display: inline;
}

.fl {
    float: left
}

.fr {
    float: right
}

/*默认不显示下划线*/
ins, a {
    text-decoration: none;
}

/*Correct block display not defined in IE6/7/8/9 & ff3,IE需要在js中createElement(tag)*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* global */
.wrapper {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

/* 内容 */
html,body{
    height:100%;
    width:100%;
    background-color: #ebebeb;
}
.header {
    background-color: rgba(255, 255, 255, .96);
    height: 125px;
    position: fixed;
    top:0;
    left: 0;
    z-index:1000;
    width:100%;
}

.header .logo {
    float: left;
    margin-top: 35px;
}

.header .nav-list {
    float: right;
    position: relative;
}

.header .nav-list li {
    width: 100px;
    float: left;
    text-align: center;
}
.header .nav-list a {
    display: block;
    color: #333;
    font: 18px/125px "Microsoft YaHei";
    text-shadow: 1px 1px 1px #ececec;
    transition: .5s background-color,color;
}

.header .nav-list .cur a,.header .nav-list a:hover {
    color: #fff;
    text-shadow: none ;
    background-color: #e68417;
}
.banner{
    position: relative;
}
.banner .banner-list img{
    width:100%;
}
.banner .btn-prev{
    position: absolute;
    left:20px;
    top:40%;
    width: 20px;
    height: 39px;
    text-indent: -9999px;
    background: url(../images/icon-prev.png?@spriter);
}
.banner .btn-next{
    position: absolute;
    right:20px;
    top:40%;
    width: 20px;
    height: 39px;
    text-indent: -9999px;
    background: url(../images/icon-next.png?@spriter);
}

.main{
    margin-top:-350px;
    position: relative;
    z-index:100;
}
.main .wrapper{
    background-color: #fff;
}

.cnt-imglist li{
    float: left;
    margin-left: 32px;
}