<!DOCTYPE html>
<html>
<head>
    <title>体育梦工厂</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="referrer" content="never">
    <meta name="keywords" content="体育梦工厂">
    <meta name="description" content="体育梦工厂">
    <meta name="viewport" content="width=1000"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/css.css'/>
</head>
<body>

<% include header.html%>

<div class="wrapper">
    <div class="mod-article">
        <%if(article.type!=5){%>
        <h1 class="title"><%=article.title%></h1>
        <p class="txtinfo">发布时间： <%=article.date%></p>
        <%}%>
        <p class="content"><%-article.content%></p>
    </div>
</div>
<% include footer.html%>

</body>
</html>
