<!DOCTYPE html>
<html>
<head>
    <title>东娱传媒</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="header header-active por">
    <% include header.html%>
</div>

<div class="wrapper">
    <div class="mod-article">
        <h1 class="title"><%=article.title%></h1>
        <p class="txtinfo">发布时间： <%=article.date%> &nbsp;&nbsp;&nbsp;&nbsp;浏览量：<%=article.view%></p>
        <p class="content"><%-article.content%></p>
    </div>
</div>

<% include footer.html%>

</body>
</html>
