<div class="footer">
    <div class="wrapper">
        <div class="foot foot1">
            <a class="logo" href="/"><img src="/images/logo2.png" alt="东娱传媒"></a>
            <p class="tit mt20">东娱文化传媒有限公司</p>
            <p class="txt">福建省厦门市观音山营运中心塔埔东路166号</p>
            <p class="tit mt20">邮编 \ 362100</p>
            <p class="tit">电话 \ 123456789</p>
            <p class="tit">传真 \ 123456789</p>

            <p class="txt mt20">CopyRight© 2014 - 2016</p>
        </div>
        <div class="foot foot2">
            <p class="tit">友情链接</p>
            <ul>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
            </ul>
        </div>
        <div class="foot foot2">
            <p class="tit">合作伙伴</p>
            <ul>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
            </ul>
        </div>
        <div class="foot mod-share">
            <ul class="tab-nav clearfix">
                <li class="nav1 cur"><i class="fa fa-weixin" aria-hidden="true"></i></li>
                <li class="nav2"><i class="fa fa-qq" aria-hidden="true"></i></li>
                <li class="nav3"><i class="fa fa-weibo" aria-hidden="true"></i></li>
            </ul>
            <div class="tab-contents">
                <div class="content content1">
                    <p class="tit">关注我们</p>
                    <img src="/images/qr.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>