<div class="footer">
    <div class="wrapper clearfix">
        <div class="foot">
            <a class="logo" href="/"><img src="/images/logo2.png" alt="东娱传媒"></a>
            <div class="site-info">
                <p class="tit">东娱文化传媒有限公司&nbsp;&nbsp;&nbsp;厦门市集美区杏林湾营运中心10号楼13层</p>
                <p class="txt"></p>
                <p class="tit">邮编 \ 362100&nbsp;&nbsp;&nbsp;电话 \ 0592-3367777&nbsp;&nbsp;&nbsp;传真 \ 0592-3319969</p>
                <p class="txt">CopyRight© 2014 - 2016</p>
            </div>
        </div>
        <div class="foot mod-share">
            <ul class="tab-nav clearfix">
                <li class="nav1 weixin"><i class="fa fa-weixin" aria-hidden="true"></i></li>
                <li class="nav3"><a target="_blank" href="http://t.cn"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
            </ul>
            <div class="content">
                <img src="/images/qr.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<script>
    $('.weixin').hover(function () {
        $('.mod-share .content').toggleClass('content2');
    })
</script>