<footer>
    <div class="wrapper">
        <img class="logo" src="/images/logo.png" height="68" alt="体育梦工厂">
        <div class="nav-list">
            <ul class=" clearfix j-nav-list">
                <li><a href="/article/column/10">走进央体</a>
                </li>
                <li><a href="/article/column/20">央体新闻</a>
                </li>
                <li><a href="/article/column/30">业务板块</a>
                </li>
                <li><a href="/article/column/40">案例展示</a>
                </li>
                <li><a href="/article/column/50">联系我们</a>
                </li>
            </ul>
            <hr>
            <div class="address">
                <h3>福建央体体育产业发展有限公司</h3>
                <p>地址：福建省厦门市思明区汇金国际中心楼27层</p>
            </div>
        </div>
        <div class="share">
            <img src="/images/qr.jpg" alt="">
            <p>关注我们</p>
        </div>
    </div>
    <p class="copy">© Copyright 2006-2017 All rights reserved 闽ICP备17013075号-1
        邮箱：ytty@sportsdream.com</p>
    <script>
        $(function () {
            var gym = window.gym = {
                init: function () {
                    var _this = this;
                    _this._animate();
                },
                _animate: function () {
                    $(window).on("scroll", function () {
                        var y = $(this).scrollTop();
                        switch (true) {
                            case y >= 600:
                                $("#j-newlist").find("li").show().addClass("fadeInUp");
                                break;
                            case y >= 100:
                                $("#j-piclist").find("li").show().addClass("zoomIn");
                                break;
                        }
                    });
                }
            };
            gym.init()
        });
    </script>
</footer>