<header>
    <div class="wrapper clearfix" style="width: 980px;">
        <a class="logo" href="/"><img src="/images/logo.png" height="68" alt="体育梦工厂"></a>
        <div class="mod-menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <ul class="nav-list clearfix j-nav-list">
            <li>
                <div class="list-item">
                    <a href="/">
                        <span class="en-txt">abc</span>
                        <span class="ch-txt">首页</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <a href="/article/column/10">
                        <span class="en-txt">abc</span>
                        <span class="ch-txt">走进央体</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="list-item">
                    <a href="/article/column/20">
                        <span class="en-txt">abc</span>
                        <span class="ch-txt">央体新闻</span>
                    </a>
                </div>
                <ul class="sub-list clearfix">
                    <li><a href="/article/column/21">公司新闻</a></li>
                </ul>
            </li>
            <li>
                <div class="list-item">
                    <a href="/article/column/30">
                        <span class="en-txt">abc</span>
                        <span class="ch-txt">业务板块</span>
                    </a>
                </div>
                <ul class="sub-list clearfix">
                    <li><a href="/article/column/31">体育营销</a></li>
                    <li><a href="/article/column/32">体育经纪</a></li>
                    <li><a href="/article/column/33">体育培训</a></li>
                    <li><a href="/article/column/34">体育投资</a></li>
                </ul>
            </li>
            <li>
                <div class="list-item">
                    <a href="/article/column/40">
                        <span class="en-txt">abc</span>
                        <span class="ch-txt">联系我们</span>
                    </a>
                </div>

                <ul class="sub-list clearfix">
                    <li><a href="/article/column/41">联系方式</a></li>
                    <li><a href="/article/column/42">人才招聘</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>


<!--<script src="/lib/jquery.min.js"></script>-->
<!--<script>-->
    <!--$('.nav-list>li').mouseenter(function () {-->
        <!--$(this).find('.sub-list').stop().slideDown('fast');-->
        <!--$(this).siblings().find('.sub-list').stop().slideUp('fast');-->
    <!--}).mouseleave(function () {-->
        <!--$(this).find('.sub-list').stop().slideUp('fast');-->
    <!--});-->
<!--</script>-->