<!DOCTYPE html>
<html>
<head>
    <title>东娱传媒</title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="header">
    <div class="wrapper clearfix">
        <a class="logo" href="/"><img src="/images/logo.png" alt="东娱传媒"></a>
        <ul class="nav-list clearfix">
            <li class="cur"><a href="#" title="首页">首页</a></li>
            <li><a href="#" title="走进东娱">走进东娱</a></li>
            <li><a href="#" title="业务板块">业务板块</a></li>
            <li><a href="#" title="东娱新闻">东娱新闻</a></li>
            <li><a href="#" title="案例展示">案例展示</a></li>
        </ul>
    </div>
</div>
<div class="banner">
    <ul class="banner-list">
        <%banner&&banner.forEach(function(v,i){%>
        <li><a target="_blank" href="/article/<%=v._id%>" title="<%=v.title%>"><img src="<%=v.headimg%>" alt=""></a></li>
        <%})%>
    </ul>
    <a href="javascript:" class="btn-prev">上一页</a>
    <a href="javascript:" class="btn-next">下一页</a>
</div>
<div class="main">
    <div class="wrapper">
        <div class="mod-ysjz mod-glob">
            <div class="mod-hd">
                <h3 class="tit">影视巨制 · <span>FILM AND TELEVISION</span></h3>
            </div>
            <div class="mod-bd">
                <ul class="cnt-imglist clearfix">
                    <%ysjz&&ysjz.forEach(function(v,i){%>
                    <li><a target="_blank" href="/article/<%=v._id%>" title="<%=v.title%>"><img width="120" height="220" src="<%=v.headimg%>" alt="<%=v.title%>"></a></li>
                    <%})%>
                </ul>
            </div>
        </div>
        <div class="clearfix">
            <div class="mod-news mod-glob">
                <div class="mod-hd">
                    <h3 class="tit">新闻动态 · <span>NEWS</span></h3>
                </div>
                <div class="mod-bd">
                    <ul class="cnt-txtlist">
                        <%article&&article.forEach(function(v,i){%>
                        <li><a target="_blank" href="/article/<%=v._id%>"><%=v.title%></a><span class="date"><%=v.date%></span></li>
                        <%})%>
                    </ul>
                </div>
            </div>
            <div class="mod-marquee">
                <ul class="marquee-list clearfix">
                    <%marquee&&marquee.forEach(function(v,i){%>
                    <li><a target="_blank" href="/article/<%=v._id%>" title="<%=v.title%>"><img width="500" height="280" src="<%=v.headimg%>" alt=""></a></li>
                    <%})%>
                </ul>
                <ul class="marquee-nav clearfix">
                    <%marquee&&marquee.forEach(function(v,i){%>
                    <li></li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="wrapper">
        <div class="foot foot1">
            <a class="logo" href="/"><img src="/images/logo.png" alt="东娱传媒"></a>
            <p class="tit mt20">东娱文化传媒有限公司</p>
            <p class="txt">福建省厦门市观音山营运中心塔埔东路166号</p>
            <p class="tit mt20">邮编 \ 362100</p>
            <p class="tit">电话 \ 123456789</p>
            <p class="tit">传真 \ 123456789</p>

            <p class="txt mt20">CopyRight© 2014 - 2016</p>
        </div>
        <div class="foot foot2">
            <p class="tit">友情链接</p>
            <ul>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
            </ul>
        </div>
        <div class="foot foot2">
            <p class="tit">合作伙伴</p>
            <ul>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
                <li><a href="#" class="txt">东娱传媒有限公司</a></li>
            </ul>
        </div>
        <div class="foot mod-share">
            <ul class="tab-nav clearfix">
                <li class="nav1 cur"><i></i></li>
                <li class="nav2"><i></i></li>
                <li class="nav3"><i></i></li>
            </ul>
            <div class="tab-contents">
                <div class="content content1">
                    <p class="tit">关注我们</p>
                    <img src="/images/qr.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/jquery.min.js"></script>
<script src="/lib/ue.marquee.js"></script>
<script>

    var slideCarousel1 = ue.slideCarousel({
        target : '.banner',
        list : ".banner .banner-list",//滚动对象 一般为 ul
        items : '.banner .banner-list li', //滚动的详细列表
        delay : 3000,//切换间隔时间
        speed : 600,//切换速度
        autoplay : true,
        loop : true,
        prev : ".banner .btn-prev",
        next : ".banner .btn-next",
        mode : ue.slideCarousel.H,//V表示竖直方向滚动 H表示水平方向滚动
    });

    var slideCarousel2 = ue.slideCarousel({
        target : '.mod-marquee',
        list : ".mod-marquee .marquee-list",//滚动对象 一般为 ul
        items : '.mod-marquee .marquee-list li', //滚动的详细列表
        delay : 3000,//切换间隔时间
        speed : 600,//切换速度
        autoplay : true,
        loop : true,
        mode : ue.slideCarousel.H,
        thumbnails : ".mod-marquee .marquee-nav li",
        trigger : "mouseover",
        beforeSlide : function(){
            var that = this;

            that.items.find(".title,.mask").stop({gotoEnd : true}).animate({
                bottom : 50
            }, 300);
        },

        afterSlide : function(){
            var that = this;

            that.items.eq(that.active).stop({gotoEnd : true}).find(".title,.mask").animate({
                bottom : 80
            }, 300)
        }
    });

</script>
</body>
</html>
