<!DOCTYPE html>
<html>
<head>
    <title>体育梦工厂</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta content="always" name="referrer">
    <meta name="keywords" content="体育梦工厂">
    <meta name="description" content="体育梦工厂">
    <meta name="viewport" content="width=1200"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/css.css'/>

</head>
<body style="padding-top: 85px;">

<% include header.html%>

<div class="banner">
    <ul class="banner-list clearfix">
        <%banner&&banner.forEach(function(v,i){%>
        <li>
            <a target="_blank" href="/article/id/<%=v._id%>" title="<%=v.title%>"><img src="<%=v.headimg%>" alt=""></a>
            <div class="intro">
                <h3><%=v.title%></h3>
                <p><%=v.description%></p>
            </div>
        </li>
        <%})%>
    </ul>
    <a href="javascript:" class="btn-prev">上一页</a>
    <a href="javascript:" class="btn-next">下一页</a>
</div>

<div class="picScroll-left">
    <div class="hd">
        <!--<a class="btn-next next"></a>-->
        <!--<a class="btn-prev prev"></a>-->
    </div>
    <div class="bd">
        <div class="tempWrap">
            <h3 class="plate-title">业务板块 <span>/ BUSINESS</span></h3>
            <ul class="picList" id="j-piclist">

                <li>
                    <a href="http://sportsdream.com/article/column/31">
                        <img src="http://sportsdream.com/images/pic/1.png">
                        <span class="title">体育营销</span>
                    </a>
                </li>

                <li>
                    <a href="http://sportsdream.com/article/column/32">
                        <img src="http://sportsdream.com/images/pic/2.jpg">
                        <span class="title">体育经纪</span>
                    </a>
                </li>

                <li>
                    <a href="http://sportsdream.com/article/column/33">
                        <img src="http://sportsdream.com/images/pic/3.jpg">
                        <span class="title">体育培训</span>
                    </a>
                </li>

                <li>
                    <a href="http://sportsdream.com/article/column/34">
                        <img src="http://sportsdream.com/images/pic/4.png">
                        <span class="title">体育投资</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="g-news">
    <div class="wrapper">
        <h3 class="plate-title">新闻中心 <span>/ NEWS</span></h3>
        <ul class="newlist clearfix" id="j-newlist">
            <%article&&article.forEach(function(v,i){%>
            <li>
                <span class="img-box">
                    <a target="_blank" title="<%=v.title%>" href="/article/id/<%=v._id%>"><img src="<%=v.headimg%>"
                                                                                               alt="" class="h-img"></a>
                </span>
                <span class="date"><%=v.date%></span>
                <a target="_blank" title="<%=v.title%>" href="/article/id/<%=v._id%>"><%=v.title%></a>
                <span class="txt"><%=v.description%></span>
            </li>
            <%})%>
        </ul>
        <a href="http://sportsdream.com/article/list" class="more">更多 >></a>
    </div>

</div>

<!--<div class="g-static"></div>-->
<div class="g-cooperation">
    <h3 class="plate-title">合作伙伴 <span>/ COOPERATION</span></h3>
    <ul class="clearfix">
        <li><a target="_blank" href=""><img src="/images/logos/1.jpg" alt=""></a></li>
        <li><a target="_blank" href=""><img src="/images/logos/2.jpg" alt=""></a></li>
        <li><a target="_blank" href=""><img src="/images/logos/3.jpg" alt=""></a></li>
        <li><a target="_blank" href=""><img src="/images/logos/4.jpg" alt=""></a></li>
        <li><a target="_blank" href=""><img src="/images/logos/5.jpg" alt=""></a></li>
        <li><a target="_blank" href=""><img src="/images/logos/6.jpg" alt=""></a></li>
        <li><a target="_blank" href=""><img src="/images/logos/7.jpg" alt=""></a></li>
        <li><a target="_blank" href=""><img src="/images/logos/8.jpg" alt=""></a></li>
    </ul>
</div>
<%include footer.html%>
<script src="/lib/ks.marquee.js"></script>
<script>
    (function () {
        var w = $(window).width() < 1000 ? 1000 : $(window).width();
        $('.banner .banner-list li').width(w);
    })();
    ue.marquee({
        target: '.banner .banner-list',
        items: '.banner .banner-list li',
        delay: 4000,
        speed: 500,
        prevbtn: '.banner .btn-prev',
        nextbtn: '.banner .btn-next',
        scrollnum: 1,
        autoplay: true,
        beforeSlide: function () {
        },
        loop: 1,
        mode: 1
    });
    ue.marquee({
        target: ".mod-marquee .marquee-list",
        items: ".mod-marquee .marquee-list li",
        delay: 4000,
        speed: 500,
        gotobtn: ".mod-marquee .marquee-nav li",
        scrollnum: 1,
        autoplay: false,
        afterSlide: function () {
            this.target.html(this.target.html());
            this.target.find('video')[0].play();
        },
        loop: 1,
        mode: 1
    });
    $('.mod-marquee .marquee-nav li:eq(1)').trigger('click');

    ue.marquee({
        target: ".mod-ysjz .cnt-imglist",
        items: ".mod-ysjz .cnt-imglist li",
        delay: 4000,
        speed: 500,
        prevbtn: '.mod-ysjz .btn-prev',
        nextbtn: '.mod-ysjz .btn-next',
        scrollnum: 1,
        autoplay: false,
        loop: 1,
        mode: 1
    });

</script>
</body>
</html>
