<!DOCTYPE html>
<html>
<head>
    <title>东娱传媒</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="header">
    <div class="wrapper clearfix">
        <a class="logo" href="/"><img src="/images/logo.png" alt="东娱传媒"></a>
        <ul class="nav-list clearfix">
            <li class="cur"><a href="#" title="首页">首页</a></li>
            <li><a href="#" title="走进东娱">走进东娱</a></li>
            <li><a href="#" title="业务板块">业务板块</a></li>
            <li><a href="#" title="东娱新闻">东娱新闻</a></li>
            <li><a href="#" title="案例展示">案例展示</a></li>
        </ul>
    </div>
</div>
<div class="banner">
    <ul class="banner-list">
        <li>
            <img src="/images/pic/pic.jpg" alt="">
        </li>
    </ul>
    <a href="javascript:" class="btn-prev">上一页</a>
    <a href="javascript:" class="btn-next">下一页</a>
</div>
<div class="main">
    <div class="wrapper">
        <div class="mod-ysjz">
            <div class="mod-hd">
                <h3 class="tit">影视巨制 · <span>FILM AND TELEVISION</span></h3>
            </div>
            <div class="mod-bd">
                <ul class="cnt-imglist">
                    <li>
                        <a href="#">
                            <img src="/images/pic/pic2.jpg" alt="功夫熊猫2">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic/pic2.jpg" alt="功夫熊猫2">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic/pic2.jpg" alt="功夫熊猫2">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic/pic2.jpg" alt="功夫熊猫2">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic/pic2.jpg" alt="功夫熊猫2">
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
</body>
</html>
