<!DOCTYPE html>
<html>
<head>
    <title>东娱传媒</title>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="header">
    <% include header.html%>
</div>
<div class="banner">
    <ul class="banner-list clearfix">
        <%banner&&banner.forEach(function(v,i){%>
        <li><a target="_blank" href="/article/id/<%=v._id%>" title="<%=v.title%>"><img src="<%=v.headimg%>" alt=""></a>
        </li>
        <%})%>
    </ul>
    <a href="javascript:" class="btn-prev">上一页</a>
    <a href="javascript:" class="btn-next">下一页</a>
</div>
<div class="main">
    <div class="wrapper">
        <div class="mod-ysjz mod-glob">
            <div class="mod-hd">
                <h3 class="tit">影视巨制 · <span>FILM AND TELEVISION</span></h3>
            </div>
            <div class="mod-bd">
                <ul class="cnt-imglist clearfix">
                    <%ysjz&&ysjz.forEach(function(v,i){%>
                    <li><a target="_blank" href="/article/id/<%=v._id%>" title="<%=v.title%>"><img width="120" height="220"
                                                                                                src="<%=v.headimg%>"
                                                                                                alt="<%=v.title%>"></a>
                    </li>
                    <%})%>
                </ul>
            </div>
        </div>
        <div class="clearfix">
            <div class="mod-news mod-glob">
                <div class="mod-hd">
                    <h3 class="tit">新闻动态 · <span>NEWS</span></h3>
                </div>
                <div class="mod-bd">
                    <ul class="cnt-txtlist">
                        <%article&&article.forEach(function(v,i){%>
                        <li><a target="_blank" href="/article/id/<%=v._id%>"><%=v.title%></a><span
                                class="date"><%=v.date%></span></li>
                        <%})%>
                    </ul>
                </div>
            </div>
            <div class="mod-marquee">
                <ul class="marquee-list clearfix">
                    <%marquee&&marquee.forEach(function(v,i){%>
                    <li><a target="_blank" href="/article/id/<%=v._id%>" title="<%=v.title%>"><img width="500" height="280"
                                                                                                src="<%=v.headimg%>"
                                                                                                alt=""></a></li>
                    <%})%>
                </ul>
                <ul class="marquee-nav clearfix">
                    <%marquee&&marquee.forEach(function(v,i){%>
                    <li></li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</div>
<%include footer.html%>
<script src="/lib/jquery.min.js"></script>
<script src="/lib/ks.marquee.js"></script>
<script>
    (function () {
        var w = $(window).width() < 1000 ? 1000 : $(window).width();
        $('.banner .banner-list li').width(w);
    })();
    ue.marquee({
        target: '.banner .banner-list',
        items: '.banner .banner-list li',
        delay: 3000,
        speed: 500,
        prevbtn: '.banner .btn-prev',
        nextbtn: '.banner .btn-next',
        scrollnum: 1,
        autoplay: true,
        beforeSlide: function () {
        },
        loop: 1,
        mode: 1
    });
    ue.marquee({
        target: ".mod-marquee .marquee-list",
        items: ".mod-marquee .marquee-list li",
        delay: 3000,
        speed: 500,
        prevbtn: '.banner .btn-prev',
        nextbtn: '.banner .btn-next',
        gotobtn: ".mod-marquee .marquee-nav li",
        scrollnum: 1,
        autoplay: true,
        beforeSlide: function () {
        },
        loop: 1,
        mode: 1
    });
</script>
</body>
</html>
