@charset "utf-8";
/* CSS Document
Use for:	重设浏览器默认样式
Version:	1.0
Author:		tagee
*/

/* CSS reset */
html {
    background: #f1f1f1;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*内外边距通常让各个浏览器样式的表现位置不同*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
    font: 500 14px/1.8 'microsoft yahei', 'simsun', 'Hiragino Sans GB', sans-serif;
}

input, select, img {
    vertical-align: middle
}

input, select {
    outline: none
}

input, select, textarea {
    font-size: 100%;
}

ul, ol {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
    border: 0;
    font-variant: normal;
}

/* 去除默认边框 */
fieldset, img {
    border: 0;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display: block;
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/*重排左对齐*/
caption, th {
    text-align: left;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}

/*清除浮动*/
.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl, .fr {
    display: inline;
}

.fl {
    float: left
}

.fr {
    float: right
}

.por {
    position: relative !important;
}

/*默认不显示下划线*/
ins, a {
    text-decoration: none;
}

/*Correct block display not defined in IE6/7/8/9 & ff3,IE需要在js中createElement(tag)*/
article, aside, details, figcaption, figure, footer, header, nav, section, summary {
    display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.mt20 {
    margin-top: 20px !important;
}

/* global */
.wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/* 内容 */
html, body {
    height: 100%;
    width: 100%;
}

.header {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .96);
    height: 125px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: .23s all;
    border-bottom: 2px solid #e68417;
}

.header .logo {
    float: left;
    margin-top: 35px;
    transition: .23s all;
}

.nav-list {
    float: right;
    position: relative;
    z-index: 1000;
}

.nav-list li {
    width: 110px;
    float: left;
    text-align: center;
    position: relative;
}

.nav-list a {
    display: block;
    color: #333;
    font: 16px/127px "Microsoft YaHei";
    text-shadow: 1px 1px 1px #ececec;
    transition: .23s all;
}

.nav-list .cur a, .header .nav-list a:hover {
    color: #fff;
    text-shadow: none;
    background-color: #e68417;
}

.nav-list .sub-list {
    display: none;
    background-color: #fff;
    position: absolute;
    width: 110px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 0 0 #ccc;
}

.nav-list .sub-list li {
    line-height: 50px;
}

.nav-list .sub-list a {
    line-height: 50px !important;
    font-size: 16px;
}

.header-active {
    height: 75px;
}

.header-active .logo {
    margin-top: 10px;
}

.header-active .nav-list a {
    line-height: 75px;
}

.mod-menu {
    display: none;
}

.banner {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.banner-list li {
    float: left;
    width: 100%;
}

.banner-list img {
    width: 100%;
}

.banner .btn-prev, .banner .btn-next {
    position: absolute;
    right: 20px;
    top: 40%;
    width: 20px;
    height: 38px;
    text-indent: -9999px;
    background: url(../images/sprite.png);
}

.banner .btn-prev {
    left: 20px;
    background-position: 0 -34px;
}

.banner .btn-next {
    background-position: -19px -34px;
}

.main {
    margin-top: -260px;
    position: relative;
    z-index: 100;
    margin-bottom: 100px;
}

.main .wrapper {
    background-color: rgba(255, 255, 255, .8);
    padding-bottom: 30px;
}

.main .wrapper .box-bg {
    width: 100%;
    height: 428px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: -5px 6px 50px #aaa,
    0 0 0 #aaa,
    0 6px 50px #aaa,
    5px 6px 50px #aaa;
}

.mod-glob .mod-hd {
    padding: 10px 0 0 28px;
}

.mod-glob .mod-hd .tit {
    color: #e68417;
    font: 60px/1.5 "Microsoft YaHei";
}

.mod-glob .mod-hd .tit span {
    color: #999;
    font-size: 24px;
    vertical-align: middle;
}

.mod-ysjz {
    border-bottom: 1px solid #e68417;

}

.mod-ysjz .mod-bd {
    position: relative;
}

.mod-ysjz .btn-prev, .mod-ysjz .btn-next {
    position: absolute;
    right: 5px;
    top: 50%;
    background: #e68417;
    font-size: 14px;
    line-height: 30px;
    width: 20px;
    height: 30px;
    display: block;
    color: #fff5d4;
    border-radius: 0 30px 30px 0;
    text-align: center;
    margin-top: -20px;
}

.mod-ysjz .btn-prev {
    left: 5px;
    border-radius: 30px 0 0 30px;
}

.mod-ysjz .marquee-holder {
    height: 225px;
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
}

.mod-news {
    width: 450px;
    float: left;
    position: relative;
}

.mod-news .cnt-txtlist {
    margin: -10px 0 0 10px;
}
.mod-news .cnt-txtlist li{
    padding-bottom:3px;
}
.mod-news .cnt-txtlist a{
    width: 275px;
}
.mod-news .more {
    float: right;
    margin-right: 18px;
    color: #999;
}

.mod-news .more:hover {
    color: #333;
}

.cnt-imglist li {
    float: left;
    margin: 0 12px 30px 7px;
}

.cnt-imglist li img {
    width: 140px;
    height: 190px;
}
.cnt-txtlist{
    padding: 20px;
}
.cnt-txtlist li {
    overflow: hidden;
    /*width: 380px;*/
    border-bottom: 1px dotted #ccc;
    padding: 0 0 5px 20px;
    margin-bottom: 5px;
    background: url(../images/sprite.png) no-repeat 0 -82px;
}

.cnt-txtlist li:hover {
    background-position: 0 -3px;
    color: #e68417;
}

.cnt-txtlist li:hover a {
    color: #e68417;
}

.cnt-txtlist a {
    float: left;
    color: #333;
    font: 14px/1.5 "Microsoft YaHei";
    width: 660px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cnt-txtlist .date {
    float: right;
    font: 14px/1.5 "Microsoft YaHei";
}

.mod-marquee {
    float: left;
    width: 500px;
    height: 280px;
    position: relative;
    margin: 30px 0 0 20px;
}

.mod-marquee .marquee-holder {
    width: 500px;
    height: 280px;
    overflow: hidden;
    position: relative;
    zoom: 1;
}

.mod-marquee embed, .mod-marquee video {
    width: 500px;
}

.mod-marquee .marquee-list {
    position: absolute;
    top: 0;
    left: 0;
}

.mod-marquee .marquee-nav {
    position: absolute;
    bottom: -30px;
    right: -10px;
}

.mod-marquee .marquee-list li {
    float: left;
}
.mod-marquee .marquee-list .tit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 490px;
    padding-right: 10px;
    height: 30px;
    font: 14px/30px "Microsoft YaHei";
    color: #fefefe;
    background-color: rgba(0, 0, 0, .25);
    text-align: right;
    display: none;
}

.mod-marquee .marquee-nav li {
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .25s;
    border:2px solid #e68417;
    font-family: "Microsoft YaHei";
    background-color: #fff;
    font-weight:700;
    counter-increment: chapter;
    counter-reset: section;
    position: relative;
    color: #e68417;
}
.mod-marquee .marquee-nav li:before{
    content: counter(chapter);
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.mod-marquee .marquee-nav li.cur {
    /*width: 30px;*/
    background-color: #e68417;
    color: #fff;
    border-color: #e68417;
}

.mod-share {
    position: relative;
    float: right;
    margin: 15px 20px 0 0;
}

.mod-share .tab-nav {
    position: relative;
    z-index: 100;
}

.mod-share .tab-nav li {
    float: left;
    overflow: hidden;
    width: 60px;
    height: 55px;
    cursor: pointer;
    color: #b9b9b9;
    text-align: center;
    border-radius: 10px;
    font: 30px/55px "Microsoft YaHei";
}

.mod-share .tab-nav li:hover {
    background-color: #252525;
}

.mod-share .tab-nav li a {
    color: #b9b9b9;
}

.mod-share .content {
    position: absolute;
    top: -20px;
    right: 48px;
    opacity: 0;
    transition: .5s all;
    -webkit-transition: .5s all;
}

.mod-share .content2 {
    opacity: 1;
    right: 148px;
}

.mod-share .content img {
    width: 100px;
    height: 100px;
}

.mod-article {
    margin: 20px 0;
    min-height: 699px;
}

.mod-article p {
    padding: 10px !important;
    background-color: #f1f1f1 !important;
}

.mod-article span {
    /*background-color: #f1f1f1 !important;*/
}

.mod-article img {
    max-width: 100%;
}

.mod-article .title {
    text-align: center;
    font: 20px/1.5 "Microsoft YaHei";
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #B31800;
}

.mod-article .txtinfo {
    font: 14px/1.5 "Microsoft YaHei";
    text-align: center;
    color: #999;
}

.mod-article .content {
    margin-top: 10px;
}

.footer {
    background-color: #313131;
    padding: 20px 0;
}

.footer .foot {
    color: #b9b9b9;
    font: 400 12px/1.5 "Microsoft YaHei";
}

.footer .foot .tit {
    font-size: 14px;
}

.footer .foot .logo {
    margin: 25px 20px 0 10px;
}

.footer .foot .logo img {
    width: 150px;
}

.footer .foot .logo, .footer .foot .site-info {
    float: left;
}

.frm-main, .frm-side {
    float: left;
    /*height: 790px;*/
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.frm-main {
    width: 820px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    min-height: 808px;
}

.frm-side {
    padding: 10px 0;
    width: 150px;
}

.mod-side-nav {
    text-align: center;
}

.mod-side-nav .mod-bd .tit, .mod-side-nav .mod-hd .tit {
    color: #333;
    font: 16px/50px Microsoft YaHei;
    position: relative;
    zoom: 1;
    cursor: default;
}

.mod-side-nav .mod-bd .tit {
    font: 14px/40px Microsoft YaHei;
    background-color: #eaedef;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.mod-side-nav .mod-bd .tit b {
    position: absolute;
    top: 18px;
    right: 10px;
    border: 4px solid;
    border-color: #666 #eaedef #eaedef;
    overflow: hidden;
    height: 0;
}
/*.mod-side-nav .sub-nav-list{*/
    /*display: none;*/
/*}*/
/*.mod-side-nav .cur .sub-nav-list{*/
     /*display: block;*/
 /*}*/
.mod-side-nav .sub-nav-list a {
    display: block;
    color: #666;
    font: 12px/37px Microsoft YaHei;
    height: 37px;
}

.mod-side-nav .sub-nav-list a.cur, .mod-side-nav .sub-nav-list a:hover {
    text-decoration: none;
    color: #B31800;
}

.mod-article-post label {
    font: 14px/1.5 "Microsoft YaHei";
    color: #333;
    width: 70px;
    padding-right: 20px;
    float: left;
    text-align: right;
}

.mod-article-post .form-group select {
    padding-left: 6px;
}

.mod-article-post input, .mod-article-post textarea,.mod-article-post select {
    width: 600px;
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    box-sizing: border-box;
}

.mod-article-post .form-group .isTop {
    width: 15px;
    margin-top: 4px;
}

.mod-article-post .form-group {
    margin: 5px 0;
}

.mod-article-post .submit {
    position: absolute;
    padding: 10px 20px;
    display: block;
    box-shadow: inset 0 -4px 0 #af630e;
    border: 0;
    color: #fff;
    background-color: #e68417;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    top: 22px;
    right: 20px;
    transition: .25s all;
}

.mod-article-post .submit:active {
    box-shadow: none;
    margin-top: 2px;
}

.mod-article-list table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

.mod-article-list th, .mod-article-list td {
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}

.mod-article-list th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.mod-article-list tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.mod-article-list tbody tr:hover {
    background-color: #f5f5f5;
}

.mod-article-list .title {
    width: 65%;
    text-align: left;

}

.mod-article-list .title a {
    color: #333;
}

.mod-article-list .title a:hover {
    color: #e68417;
}

.mod-article-list .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: -3px;
    color: #fff;
}

.mod-article-list .btn-editor {
    background-color: #e68417;
    border-color: #eea236;
}

.mod-article-list .btn-remove {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.mod-login {
    width: 320px;
    margin: 0 auto;
    min-height: 580px;
    text-align: center;
    position: relative;
}

.mod-login .form-group {
    margin: 20px;
}

.mod-login form {
    position: absolute;
    top: 50%;
    margin-top: -35%;
}

.mod-login input {
    border: none;
    border-bottom: 1px solid #5a7e60;
    width: 200px;
    margin-left: 10px;
    padding: 3px 10px;
    background-color: #f1f1f1;
}

.mod-login .submit {
    display: inline-block;
    padding: 3px;
    margin-left: 20px;
    border-radius: 4px;
    background-color: #5a7e60;
    color: #fefefe;
    border: 1px solid #7bac83;
}

.mod-pager, .mod-pager ul {
    zoom: 1;
    position: relative;
    float: left;
}

.mod-pager {
    margin: 20px 0;
    font-size: 12px;
    line-height: 36px;
    left: 50%;
}

.mod-pager ul {
    right: 50%;
}

.mod-pager li {
    display: inline;
}

.mod-pager a, .mod-pager span {
    transition: .15s all;
    font: 500 12px/30px microsoft yahei;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0 3px;
    overflow: hidden;
    float: left;
    display: inline;
    padding: 0 13px;
    color: #7f7f7f;
    background: #fff;
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.mod-pager span, .mod-pager a:hover {
    color: #fff;
    background-color: #e68417;
}

.mod-search {
    padding: 10px 5px;
}

.mod-search input {
    display: inline-block;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border: 1px solid #ccc;
    border-left: 0;

}

.mod-search .input {
    width: 150px;
    transition: all ease-in-out .25s;
    margin-left: -5px;
    border-radius: 0 3px 3px 0;
}

.mod-search .submit {
    background-color: #ebebeb;
    border-color: #ccc;
    color: #999;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
    margin-right: -4px;
    transition: all .23s;
    border-left: 1px solid #ccc;
}

.mod-search .submit:hover {
    color: #fcfcfc;
    background-color: #B31800;
}

.mod-search .tip {
    float: right;
}

.mod-search .tip span {
    color: #B31800;
}

.mod-txtlist {
    min-height: 659px;
    margin: 30px auto 50px;
}

.mod-txtlist .tit {
    color: #333;
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.mod-txtlist .cnt-txtlist li {
    height: 30px;
    width: auto;
    padding: 5px 0 5px 20px;
    background-position: 0 -78px;
}

.mod-txtlist .cnt-txtlist li:hover {
    background-position: 0 2px;
}

.main-article-list, .sub-article-list {
    float: left;
    width: 230px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 20px 10px 0 0;
}

.main-article-list li, .sub-article-list li {
    font-size: 14px;
    text-indent: 10px;
    margin: 8px 6px;
    cursor: pointer;
    border-top: 1px dotted #ccc;
    transition: .25s all;
}
.main-article-list li h3{
    position: relative;
    zoom: 1;
}
.main-article-list li h3 i{
    font-style: normal;
    position: absolute;
    font-weight: 700;
    left: -25px;
    top: 0;
}
.main-article-list li.active h3 {
    background-color: #e37416;
    line-height: 36px;
}

.main-article-list h3 + ul {
    margin-left: 10px;
}

.sub-article-list .add, .main-article-list .add {
    float: right;
}

.article_column {
    margin-top: 20px;
}
.article_column .mod-article,.article_column .mod-article .content{
    margin-top:0;
}
.article_column .mod-article p {
    background-color: #fff !important;
}

.article_column .mod-side-nav .mod-hd {
    border-bottom: 1px solid #efefef;
}

.article_column .mod-side-nav .sub-nav-list a{
    font-size:14px;
    margin-top: 10px;
}
.column-avg .btn-save{
    float: left;
    padding: 10px 20px;
    box-shadow: inset 0 -4px 0 #af630e;
    border: 0;
    color: #fff;
    background-color: #e68417;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    transition: .25s all;
    margin-top: 20px;
}
.btn-histroy{
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e68417;
    color: #e68417;
    text-align: center;
    line-height: 30px;
    transition: all .25s;
    position: fixed;
    left: 50%;
    bottom: 40px;
    margin-left: 530px;
}
.btn-histroy:hover{
    color: #fff;
    background-color: #e68417;
}
/*移动适配*/
/*@media screen and ( max-width: 480px ) {*/
/*.wrapper {*/
/*width: 100%;*/
/*}*/

/*.main .wrapper {*/
/*padding-bottom: 0;*/
/*}*/

/*.main {*/
/*margin-bottom: 0;*/
/*margin-top: 0;*/
/*}*/

/*.header {*/
/*height: 70px;*/
/*position: absolute;*/
/*}*/

/*.header .logo {*/
/*margin: 16px;*/
/*}*/

/*.header .logo img {*/
/*width: 130px;*/
/*}*/

/*.mod-menu {*/
/*display: block;*/
/*position: absolute;*/
/*right: 10%;*/
/*top: 16px;*/
/*}*/

/*.mod-menu .line {*/
/*width: 30px;*/
/*height: 2px;*/
/*background-color: #f1cd81;*/
/*display: block;*/
/*margin: 5px auto;*/
/*-webkit-transition: all 0.3s ease-in-out;*/
/*-o-transition: all 0.3s ease-in-out;*/
/*transition: all 0.3s ease-in-out;*/
/*}*/

/*.mod-menu.is-active .line:nth-child(1) {*/
/*-webkit-transform: translateY(10px) rotate(45deg);*/
/*-ms-transform: translateY(10px) rotate(45deg);*/
/*-o-transform: translateY(10px) rotate(45deg);*/
/*transform: translateY(10px) rotate(45deg);*/
/*}*/

/*.mod-menu.is-active .line:nth-child(2) {*/
/*opacity: 0;*/
/*}*/

/*.mod-menu.is-active .line:nth-child(3) {*/
/*-webkit-transform: translateY(-5) rotate(-45deg);*/
/*-ms-transform: translateY(-5px) rotate(-45deg);*/
/*-o-transform: translateY(-5px) rotate(-45deg);*/
/*transform: translateY(-5px) rotate(-45deg);*/
/*}*/

/*.main .wrapper .box-bg {*/
/*display: none;*/
/*}*/

/*.header .nav-list {*/
/*display: none;*/
/*width: 100%;*/
/*padding: 20px 0 20px;*/
/*background-color: #fff;*/
/*}*/

/*.nav-list li {*/
/*width: 100%;*/
/*}*/

/*.banner {*/
/*height: 300px;*/
/*}*/

/*.banner-list li img {*/
/*margin: 0;*/
/*width: auto;*/
/*height: 300px;*/
/*}*/

/*.nav-list a {*/
/*font: 20px/75px "Microsoft YaHei";*/
/*}*/

/*.mod-glob .mod-hd .tit {*/
/*font-size: 1rem;*/
/*}*/

/*.mod-glob .mod-hd {*/
/*padding-bottom: 10px;*/
/*}*/

/*.mod-glob .mod-hd .tit span {*/
/*font-size: .75rem;*/
/*}*/

/*.footer {*/
/*text-align: center;*/
/*}*/

/*.footer .wrapper {*/
/*width: 320px;*/
/*}*/

/*.footer .foot {*/
/*display: inline-block;*/
/*}*/

/*.footer .foot1 {*/
/*width: 150px;*/
/*margin-left: 15px;*/
/*}*/

/*.footer .foot1 .tit {*/
/*font-size: 12px;*/
/*}*/

/*.footer .foot1 .txt {*/
/*font-size: 10px;*/
/*}*/

/*.footer .foot1 .logo img {*/
/*width: 100px;*/
/*}*/

/*.footer .foot2 {*/
/*display: none;*/
/*!*width: 42%;*!*/
/*!*margin-top: 20px;*!*/
/*}*/

/*.mod-share {*/
/*margin-top: 47px;*/
/*margin-left: 15px;*/
/*}*/

/*.mod-share .tab-nav li {*/
/*width: 40px;*/
/*height: 30px;*/
/*font: 17px/30px "Microsoft YaHei";*/
/*}*/

/*.mod-share .content1 .tit {*/
/*font-size: 12px;*/
/*margin: 3px 2px;*/
/*}*/

/*.mod-share .tab-contents img {*/
/*width: 80px;*/
/*}*/

/*.mod-share .content {*/
/*padding: 10px 0;*/
/*}*/

/*.mod-news {*/
/*width: 100%;*/
/*}*/

/*.mod-news .cnt-txtlist {*/
/*margin-left: 10px;*/
/*}*/

/*.cnt-txtlist li {*/
/*width: 90%;*/
/*padding-bottom: 1px;*/
/*}*/

/*.cnt-txtlist a {*/
/*font-size: 12px;*/
/*}*/

/*.cnt-txtlist .date {*/
/*font-size: 12px;*/
/*}*/

/*.mod-marquee {*/
/*margin: 0;*/
/*width: 100%;*/
/*}*/

/*.mod-ysjz .marquee-holder {*/
/*height: 110px;*/
/*width: 88%;*/
/*}*/

/*.cnt-imglist li {*/
/*margin: 0 2px 0;*/
/*}*/

/*.cnt-imglist li img {*/
/*width: 70px;*/
/*height: 95px;*/
/*}*/

/*.mod-txtlist .cnt-txtlist li {*/
/*margin: 0 10px;*/
/*}*/
/*}*/
